@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a24;
}

@theme inline {
  --spacing-body: clamp(16px, 2.5vw, 3.516vh);

  --color-primary: #7c3bed;
  --color-nero: #18181b;
  --color-background: #18181b;
  --color-border: #35353b;
  --color-muted: #303036;
  --color-muted-foreground: #878792;
  --color-input: #35353b;
  --color-card: #26262c;
  --color-destructive: #d44444;
  --color-accent: #34343c;
  --color-accent-foreground: #34343c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background);
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

.icons svg {
  width: 100%;
  height: 100%;
}

.icons {
  transition: width 0.3s ease-out;
  cursor: pointer;
}

.icons:hover {
  width: 3rem;
}
